.top {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 40px;
  border-bottom: 2px solid var(--color-divider);
}

.home {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.home:hover {
  color: inherit;
}

@media (max-width: 899px) {
  .top {
    padding: 0 20px;
  }
}
